

{% block title %}Page non trouvée{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mb-5 mt-5">
            <div class="my-5">

                <h1 ><center>404: Cette Page n'existe pas</center></h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}